# Reading From Twitter 
consumerKey = 
consumerSecret = 
accessToken = 
accessTokenSecret = 
keywords = kim # don't know what for?

# Kafka conf
broker.list = localhost:9092
serializer.class = kafka.serializer.StringEncoder
request.required.acks = 1
kafka.topic = twitter
